<app-on-changes-example [inputValue]="inputValue"></app-on-changes-example>

<button (click)="generateRandomNumber()">Generate</button>

<!-- <app-on-init-example></app-on-init-example>
<app-do-check-example></app-do-check-example>


<app-ngaftercontentinit-ngaftercontentchecked>
    <div #projectedContent>
        <h4>Projecting Content</h4>
        <p>Content projected into the component.</p>
    </div>
</app-ngaftercontentinit-ngaftercontentchecked>

<app-ng-on-destroy></app-ng-on-destroy> -->