div{
    padding-top: 3vh;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: inline-block;
    padding: 10px;
    width: 30%;
    background-color: skyblue;
    border-left: 1px solid orange;

}   