<div style="text-align: center;">
  <h3>{{title}}</h3>
</div>

<nav>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
  <a href="/employees" routerLinkActive="active">Employees</a>
  <a href="/form" routerLinkActive="active">Angular Form</a>
  <a href="/lifeCycleHook" routerLinkActive="active">LifeCycleHook</a>
  <a href="/mat" routerLinkActive="active">Angular Material</a>

  <a href="/test" routerLinkActive="active">Wrong URL</a>
</nav>

<router-outlet></router-outlet>



